body {
    background-color: hsl(120, 74%, 88%);
}

.game {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    flex-direction: column;
}

.card-wrap {
    /* width: 70%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto 2.5rem auto;
    flex-flow: row wrap;
}

.card {
    width: 7rem;
    height: 9rem;
    color: rgb(7, 7, 7);
    font-size: 40px;
    font-weight: 700;
    border-radius: 5px;
    background-color: hsl(195, 61%, 78%);
    margin: 1rem;
    border: none;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
}

.startBtn {

    padding: 1rem;
    height: auto;
    border: none;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 5px;
    background-color: lightsalmon;

}